.Rproj.user
.Rhistory
.RData
.Ruserdata
*Rproj
raw
01_r_gis_bridges.pptx
pres/*/img
pres/*/*html
02_intro_rqgis_rsaga_files
01_spatial_cv_with_mlr_cache
01_spatial_cv_with_mlr_files
intro_files
geostat18-geocomputation_files
data
data.zip
geostat18-geocomputation.html
spatial-tidyverse_files
spatial-tidyverse.html
webshot.png
master.zip
geostat18-preview_files
geostat18-preview.html
